<!DOCTYPE html>
<html>
<head>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</head>
<body>

<div id="map" style="width: 600px; height: 400px"></div>
<script type="text/javascript">
    ymaps.ready(init);
    var map;

    function init(){
        map = new ymaps.Map ("map", {
            center: [55.76, 37.64],
            zoom: 7
            // Тип покрытия карты: "Спутник".
            //type: 'yandex#publicMapHybrid'
        });

        map.controls
            // Кнопка изменения масштаба.
                .add('zoomControl', { left: 5, top: 5 })
            // Список типов карты
                .add('typeSelector')
            // Стандартный набор кнопок
                .add('mapTools', { left: 35, top: 5 });


    }
</script>
</body>
</html>